@charset "UTF-8";
/* http://meyerweb.com/eric/tools/css/reset/ 
  v2.0 | 20110126
  License: none (public domain)
*/
@import url("https://fonts.googleapis.com/css2?family=Cardo:ital,wght@0,400;0,700;1,400&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
  font-family: "Cardo", serif;
  background: #f4f4f4;
}

ol, ul {
  list-style: none;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

a {
  text-decoration: none;
}

button {
  border: none;
  background: none;
  padding: 0;
  cursor: pointer;
}

.scroll-contents {
  display: inline-flex;
}

/* 페이지 스크롤 진행바 */
.loading-scroll {
  position: fixed;
  left: 0;
  top: 114px;
  z-index: 30;
  width: 100%;
  height: 1px;
  background: rgba(110, 110, 110, 0.18);
}
.loading-scroll span {
  background: #000;
}

/* 메뉴 */
nav a {
  position: fixed;
  left: 70px;
  top: 50px;
  z-index: 30;
  color: #000;
}

/* 비디오 배경 */
.video-bg {
  position: fixed;
  width: 100%;
  height: 100%;
}
.video-bg video {
  width: 100%;
}

/* 공통 section */
section {
  position: relative;
  width: 100vw;
  height: 100vh;
  z-index: 10;
}
section.section3 {
  background: violet;
  margin-right: 100vw;
}
section.section4 {
  background: greenyellow;
}

/* home */
.home {
  background: #f4f4f4;
  margin-right: 100vw;
}
.home h1 {
  position: absolute;
  bottom: 70px;
  left: 70px;
  font-size: 60px;
}
.home h1 span {
  font-size: 150px;
}
.home h1::after {
  content: "";
  position: absolute;
  right: -500px;
  top: -100px;
  width: 785px;
  height: 171px;
  background: url("../images/sketch.svg") no-repeat;
  mix-blend-mode: difference;
}
.home h2 {
  position: absolute;
  right: 4vw;
  top: 25vh;
  letter-spacing: 1.2px;
  font-size: 20px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
.home h2 p {
  margin: 0 40px;
}
.home h2 p:nth-child(2) {
  margin-top: 6vh;
}
.home h2 p:nth-child(3) {
  margin-top: 12vh;
}
.home h2 p strong {
  font-weight: bold;
  font-size: 24px;
}

/* intro */
.intro {
  background: #f4f4f4;
  margin-right: 100vw;
}
.intro .images {
  margin-top: 210px;
  margin-left: 70px;
}
.intro .images > div {
  position: absolute;
  overflow: hidden;
}
.intro .images > div.img1 {
  left: 70px;
  top: 180px;
  width: 380px;
}
.intro .images > div.img2 {
  left: 460px;
  bottom: 84px;
  width: 270px;
}
.intro .images > div.img3 {
  left: 570px;
  top: 210px;
  width: 280px;
}
.intro .images > div.img4 {
  left: 860px;
  bottom: 100px;
  width: 440px;
}
.intro .images > div img {
  width: 100%;
  height: 100%;
  mix-blend-mode: luminosity;
  transition: all 0.8s;
}
.intro .images > div:hover img {
  mix-blend-mode: normal;
  transform: scale(1.1);
}
.intro p {
  position: absolute;
  right: 100px;
  top: 270px;
  -ms-writing-mode: tb-rl;
      writing-mode: vertical-rl;
}
.intro p span {
  display: block;
  margin: 0 20px;
  font-size: 20px;
  letter-spacing: 1.2px;
}

/* work */
.work {
  background: #000;
}

/* contact */