@font-face {
  font-family: 'Pretendard';
  src: url(/assets/font/Pretendard-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url(/assets/font/Pretendard-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: 'kiona';
  src: url(/assets/font/Kiona-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'LemonMilk';
  src: url(/assets/font/LEMONMILK-Light.otf);
  font-weight: 100;
}
@font-face {
  font-family: 'LemonMilk';
  src: url(/assets/font/LEMONMILK-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'LemonMilk';
  src: url(/assets/font/LEMONMILK-Bold.otf);
  font-weight: 700;
}

@font-face {
  font-family: 'CaviarDreams';
  src: url(/assets/font/CaviarDreams.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'LaGaglianePersonalUse';
  src: url(/assets/font/LaGaglianePersonalUse-4BdBx.ttf);
  font-weight: 400;
}
@font-face {
  font-family: 'StretchPro';
  src: url(/assets/font/StretchPro.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'oktaneue';
  src: url(/assets/font/oktaneue-ultralight.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'oktaneue';
  src: url(/assets/font/oktaneue-blackitalic.otf);
  font-weight: 700;
}
@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');