@import url('https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap');

@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: 'Pretendard';
  src: url(../font/Pretendard-Bold.otf);
  font-weight: 700;
}
