@import url("https://fonts.googleapis.com/css2?family=Barlow:wght@100;400;600;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Cinzel+Decorative:wght@400;700&display=swap");
html, body, div, span, applet, object, iframe,
h1, h2, h3, h4, h5, h6, p, blockquote, pre,
a, abbr, acronym, address, big, cite, code,
del, dfn, em, img, ins, kbd, q, s, samp,
small, strike, strong, sub, sup, tt, var,
b, u, i, center,
dl, dt, dd, ol, ul, li,
fieldset, form, label, legend,
table, caption, tbody, tfoot, thead, tr, th, td,
article, aside, canvas, details, embed,
figure, figcaption, footer, header, hgroup,
menu, nav, output, ruby, section, summary,
time, mark, audio, video {
  margin: 0;
  padding: 0;
  border: 0;
  font-size: 100%;
  font: inherit;
  vertical-align: baseline;
}

/* HTML5 display-role reset for older browsers */
article, aside, details, figcaption, figure,
footer, header, hgroup, menu, nav, section {
  display: block;
}

body {
  line-height: 1;
}

ol, ul {
  list-style: none;
}

a {
  text-decoration: none;
  color: inherit;
}

blockquote, q {
  quotes: none;
}

blockquote:before, blockquote:after,
q:before, q:after {
  content: "";
  content: none;
}

table {
  border-collapse: collapse;
  border-spacing: 0;
}

img {
  display: block;
  max-width: 100%;
}

input, button, select {
  font: inherit;
  color: inherit;
  border: 0;
  padding: 0;
  background: transparent;
}

@font-face {
  font-family: "Pretendard";
  src: url(/assets/font/Pretendard-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "Pretendard";
  src: url(/assets/font/Pretendard-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "kiona";
  src: url(/assets/font/Kiona-Regular.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "LemonMilk";
  src: url(/assets/font/LEMONMILK-Light.otf);
  font-weight: 100;
}
@font-face {
  font-family: "LemonMilk";
  src: url(/assets/font/LEMONMILK-Regular.otf);
  font-weight: 400;
}
@font-face {
  font-family: "LemonMilk";
  src: url(/assets/font/LEMONMILK-Bold.otf);
  font-weight: 700;
}
@font-face {
  font-family: "CaviarDreams";
  src: url(/assets/font/CaviarDreams.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "LaGaglianePersonalUse";
  src: url(/assets/font/LaGaglianePersonalUse-4BdBx.ttf);
  font-weight: 400;
}
@font-face {
  font-family: "StretchPro";
  src: url(/assets/font/StretchPro.otf);
  font-weight: 400;
}
@font-face {
  font-family: "oktaneue";
  src: url(/assets/font/oktaneue-ultralight.otf);
  font-weight: 400;
}
@font-face {
  font-family: "oktaneue";
  src: url(/assets/font/oktaneue-blackitalic.otf);
  font-weight: 700;
}
.blind {
  position: absolute;
  width: 1px;
  height: 1px;
  overflow: hidden;
  clip: rect(0 0 0 0);
  margin: -1px;
}

body {
  font-family: "Barlow", "Cinzel Decorative", cursive;
  background: #000;
  color: #fff;
}

header {
  display: flex;
  align-items: center;
  justify-content: space-between;
  position: fixed;
  left: 0;
  top: 0;
  z-index: 30;
  width: 100%;
  padding: 30px 100px;
  box-sizing: border-box;
  color: #000;
}
header .logo {
  display: flex;
  justify-content: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  overflow: hidden;
  background: #00ff04;
  font-family: "Cinzel Decorative", cursive;
  font-size: 23px;
  font-weight: bold;
}
header .gnb-list {
  display: flex;
  gap: 20px;
}
header .gnb-item a {
  font-size: 14px;
  font-weight: bold;
}

.footer {
  position: relative;
  z-index: 1;
  padding: 60px 130px;
  background: #00ff04;
  box-sizing: border-box;
  color: #222;
  font-size: 20px;
}
.footer::before {
  position: absolute;
  bottom: 100%;
  left: 0;
  width: 100%;
  height: 100px;
  background: #00ff04;
  content: "";
  border-top: 10px solid #000;
}
.footer .footer-wrap {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  gap: 160px;
  box-sizing: border-box;
}
.footer .title-area {
  display: flex;
  width: 100%;
  overflow: hidden;
}
.footer .title-area span {
  font-size: 385px;
  display: block;
}
.footer .social-area {
  display: flex;
  gap: 30px;
}
.sc-visual {
  position: relative;
  overflow: hidden;
  box-sizing: border-box;
  background: #000;
}
.sc-visual .sc-title {
  position: relative;
  z-index: 2;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  padding: 150px 100px 100px;
  overflow: hidden;
  color: #00ff04;
}
.sc-visual .sc-title span {
  display: block;
  font-family: "oktaneue", "Pretendard", cursive;
  font-size: 6vw;
  text-transform: uppercase;
  font-weight: bold;
}
.sc-visual .sc-title span em {
  font-weight: bold;
  font-style: italic;
  color: #00ff04;
}
.sc-visual .sc-title span.title {
  color: #fff;
  font-size: clamp(20px, 8vw, 120px);
}
.sc-visual .sc-title span.first {
  margin-top: 50px;
}
.sc-visual .sc-title span.last {
  font-weight: 400;
}
.sc-visual .img-box {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.sc-visual .img-box img {
  position: absolute;
}
.sc-visual .img-box .article1 {
  top: 10%;
  left: 30%;
  transform: rotate(30deg);
}
.sc-visual .img-box .article2 {
  top: 50%;
  left: 10%;
}
.sc-visual .img-box .article3 {
  top: 80%;
  right: 50%;
}
.sc-visual .img-box .article4 {
  right: 10%;
  top: 50%;
  filter: blur(10px);
}
.sc-visual .img-box .article5 {
  left: -10%;
  top: -10%;
  transform: rotate(-30deg) scale(2);
}

.sc-work {
  padding: 210px 130px 0;
}
.sc-work .sc-title {
  margin-bottom: 370px;
  color: #00ff04;
  font-size: 20px;
  font-weight: bold;
}
.sc-work .work-list {
  display: flex;
  flex-direction: column;
}
.sc-work .work-item {
  position: relative;
  perspective: 700px;
}
.sc-work .work-item:hover {
  perspective: 700px;
}
.sc-work .work-item:hover .inner {
  color: #222;
  background: #00ff04;
  transform: rotateX(-5deg) translateZ(-5px) translateY(-130px);
}
.sc-work .work-item:hover .inner .keyword span {
  color: #00ff04;
  background: #222;
}
.sc-work .work-item:hover .inner svg path {
  stroke: #222;
}
.sc-work .work-item + .work-item {
  margin-top: -320px;
}
.sc-work .work-item .inner {
  width: 100%;
  height: 530px;
  padding: 80px 100px;
  color: #00ff04;
  box-shadow: 0 -15px 32px rgba(0, 0, 0, 0.25);
  box-sizing: border-box;
  background: #222;
  transform-style: preserve-3d;
  transform: rotateX(-10deg) translateZ(-5px);
  transition: color 0.6s, background 0.6s, transform 0.6s ease;
  border-radius: 23px;
  border-top: 10px solid #000;
}
.sc-work .work-item .title {
  margin-bottom: 50px;
  font-size: 70px;
  font-weight: bold;
}
.sc-work .work-item .pagination {
  position: absolute;
  right: 40px;
  top: 40px;
  font-size: 50px;
}
.sc-work .work-item .info-wrap {
  display: flex;
  align-items: flex-end;
  justify-content: space-between;
  gap: 100px;
}
.sc-work .work-item .txt-box {
  font-family: "Pretendard";
}
.sc-work .work-item .txt-box .desc {
  margin-bottom: 20px;
  line-height: 1.2;
  font-size: 18px;
  word-break: keep-all;
}
.sc-work .work-item .txt-box .keyword {
  display: flex;
  gap: 10px;
}
.sc-work .work-item .txt-box .keyword span {
  padding: 5px 10px;
  font-size: 12px;
  border-radius: 10px;
  color: #222;
  background: #00ff04;
}
.sc-work .work-item .btn-box {
  display: flex;
  flex-direction: column;
  gap: 30px;
}
.sc-work .work-item .btn-box a {
  display: block;
  font-size: 20px;
  text-align: right;
}
.sc-work .work-item .btn-box a:hover {
  transform: translateX(10px);
}
.sc-work .work-item .btn-box svg {
  width: 16px;
  margin-left: 10px;
}
.sc-work .work-item .btn-box svg path {
  stroke: #00ff04;
}

.sc-about {
  display: flex;
  flex-direction: column;
  align-items: center;
  position: relative;
  z-index: 10;
  padding: 100px 130px 100px;
  border-top-left-radius: 50px;
  border-top-right-radius: 50px;
}
.sc-about .sc-title {
  color: #000;
  font-size: 20px;
  font-weight: bold;
}
.sc-about .img-box {
  position: relative;
  width: 460px;
  height: 535px;
  margin-bottom: 100px;
}
.sc-about .img-box .img {
  position: relative;
  z-index: -1;
  width: 300px;
  height: 100%;
  margin: 0 auto;
  border-radius: 150px;
  overflow: hidden;
}
.sc-about .img-box .img img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}
.sc-about .txt-box {
  position: relative;
  padding-top: 180px;
  line-height: 1.5;
  text-align: center;
  font-family: "Pretendard";
}
.sc-about .txt-box::before {
  content: "";
  position: absolute;
  left: 50%;
  top: 0;
  width: 1px;
  height: 100px;
  background: #fff;
}
.sc-about .txt-box .desc {
  font-size: 26px;
}
.sc-about .txt-box .desc p {
  overflow: hidden;
}
.sc-about .txt-box .desc span {
  display: block;
}